body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.main{
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.topbar2{
	width: 100%;
	height: 30px;
	background-color:  #2a2b2c;
	padding-top: 10px;
	opacity: 0.8;
}
.logout-btn{
	float: right;
	margin-right: 50px;	
}
.logout-btn a{
	color: white;
	text-decoration:  none;
	padding: 4px;
}
.logout-btn a:hover{
	color:#7db6cd;
}
.header{
	width: 100%;
	height: 60px;
	float:	left;
	background-color:#1a7ea8;
	box-shadow: 0 0, 0 6px 20px 0 rgba(0, 0, 0, .14);
}
.navbar{
	width: 100%;
	text-align: left;
	margin-left: 10px;	
	display: inline-block;
	padding: 10px 20px;
}
.navbar a{
	float: left;
	color: white;
	text-decoration:none;
  	align-items: center;
	font-size: 18px;
	cursor: pointer;
	border-radius: 20px;
	padding: 10px 20px;
	margin: 0px 20px;
}
.navbar form{
	margin-top: 5px;
	
}
.navbar form input{
	margin-left: 60px;
	padding: 5px;
}
.navbar form button{
	margin-left: 40px;
	padding: 5px;
	cursor: pointer;
	font-size: 15px;
	background:yellow; 
}
.navbar a:hover{
	color: black;
	background-color: #7db6cd;
}
.active{
	width:100%;
	min-height:688px;
	background-color: white;
	margin-top: 30px;
	padding: 0px 20px 0px 20px;
}
.active h2{
	text-align: center;
	padding-top: 50px;
}
.bigcard {
  width: 80%;
  text-align: center;
  display: inline-block;
  border-radius:10px;
}
.bigcard1{
	float:left;
	margin-left: 150px;	
}
.bigcard2{
	float:right;
	margin-right: 0px;	
}

.bigcard1 input[type="text"],.bigcard1 input[type="date"]
{
	position:relative;
	padding: 5px;
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2);
	border: 1px solid black;
	border-radius:5px;
	outline: none;
	color: black;
	height: 25px;
	background: White;
	font-size: 18px;
	text-align:left;	
}

.bigcard2 p{
	padding:10px 0 10px 0;
}
.bigcard2 input[type="text"]{
	position: realtive;
	padding: 5px;
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2);
	border: 1px solid black;
	border-radius:5px;
	outline: none;
	color: black;
	height: 25px;
	background: White;
	font-size: 18px;
	text-align:left;
}
.bigcard2 input[type="submit"] {
	height: 35px;
	width: 220px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	border-radius:5px;
	background-color: #1a7ea8;
	color: white;
	border:1px solid #1a7ea8;
  	-webkit-transition-duration: 0.4s;
 	transition-duration: 0.4s;
 	font-size: 20px;
}

.bigcard2 input[type="submit"]:hover{
  background-color: #7db6cd;
  border:1px solid #7db6cd;
  color: black;
}
