body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.main{
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.topbar2{
	width: 100%;
	height: 30px;
	background-color:  #2a2b2c;
	padding-top: 10px;
	opacity: 0.8;
}
.logout-btn{
	float: right;
	margin-right: 50px;	
}
.logout-btn a{
	color: white;
	text-decoration:  none;
	padding: 4px;
}
.logout-btn a:hover{
	color:#7db6cd;
}
.header{
	width: 100%;
	height: 60px;
	float:	left;
	background-color:#1a7ea8;
	box-shadow: 0 0, 0 6px 20px 0 rgba(0, 0, 0, .14);
}
.navbar{
	width: 100%;
	text-align: left;
	margin-left: 10px;	
	display: inline-block;
	padding: 10px 20px;
}
.navbar a{
	float: left;
	color: white;
	text-decoration:none;
  	align-items: center;
	font-size: 18px;
	cursor: pointer;
	border-radius: 20px;
	padding: 10px 20px;
	margin: 0px 20px;
}
.navbar form{
	margin-top: 5px;
	
}
.navbar form input{
	margin-left: 60px;
	padding: 5px;
}
.navbar form button{
	margin-left: 40px;
	padding: 5px;
	cursor: pointer;
	font-size: 15px;
}
.navbar a:hover{
	color: black;
	background-color: #7db6cd;
}
.active{
	width:100%;
	min-height:688px;
	background-color: white;
	margin-top: 30px;
	padding: 0px 20px 0px 20px;
	text-align: center;
}
.filler{
	width:100%;
	height:50px;
	background-color: transparent;
	text-align: center;
}
.card {
	width:340px;
	height: auto;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	margin: 0 auto;
  	text-align:center;
  	padding: 4px 0 10px 0;
}

.card:hover {
  box-shadow: 0 8px 16px 2px rgba(0,0,0,0.2);
}

.space1{
	font-size:24px;	
}

.filler2{
	width:auto;
	height:10px;
	margin-top: 30px;
}

.space{
	padding-top:10px;
}